<section id="top-bar">
  <%= image_tag("igniter-logo-white.png", id: "top-bar-logo", class: "img-responsive center-block") %>
</section>

<div id="homepageCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#homepageCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#homepageCarousel" data-slide-to="1"></li>
    <li data-target="#homepageCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag("autumn-goodman.jpg", class: "d-block img-fluid", alt: "Woman smiling") %>
      <div class="carousel-caption d-none d-md-block">
        <h3 id="carouselText">Lorem Ipsum Lorem Ipsum</h3>
        <button type="button" class="btn btn-primary btn-lg" id="carouselButton">Large button</button>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("jared-sluyter.jpg", class: "d-block img-fluid", alt: "Child with ice cream smiling") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("charles-etoroma.jpg", class: "d-block img-fluid", alt: "Couple smiling") %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#homepageCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#homepageCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="row">
  <div class="column">
      <%= image_tag("page-icon.svg") %>
    <p>Lorem Ipsum</p>
  </div>
  <div class="column">
    <%= image_tag("page-icon.svg") %>
    <p>Lorem Ipsum</p>
  </div>
  <div class="column">
    <%= image_tag("page-icon.svg") %>
    <p>Lorem Ipsum</p>
  </div>
  <div class="column">
    <%= image_tag("page-icon.svg") %>
    <p>Lorem Ipsum</p>
  </div>
</div>

<div class="container">
  <%= image_tag("slanted-gradient-background.svg", id: "gradient") %>
  <div class="gradientText"> <p>Test</p> </div>
</div>
